[profile.default]
src = "src"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 10_000
gas_reports = ["*"]
fs_permissions = [{ access = "read", path = "./script/config/"}, { access = "read-write", path = "./artifacts/"}]

[rpc_endpoints]
rollupA = "http://localhost:18545"
rollupB = "http://localhost:28545"


[fmt]
bracket_spacing = false
int_types = "long"
line_length = 160
multiline_func_header = "attributes_first"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4

[fuzz]
runs = 5

[profile.ci]
verbosity = 3
fuzz = { runs = 1024 }
